*{ 
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
 
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

h3 {
    font-size: 1.53125rem;
}

ol, ul {
    list-style: none;


}
body {
    background-color: #111 !important   ;
}

.wrapper {
    width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
.episode__current{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0%;
    margin-left: 5px !important;
}

.episode__current li a {
    text-transform: none;
    text-overflow: inherit;
    padding: 10px 60px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    text-align: center;
    color: #ff6500;
    border-color: #ff6500;


}

.list__episode__item p {
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    height: 50px;
    line-height: 50px;
    background: #2d2d2d;
    width: 100%;
}

.film__info {
    margin-top: 40px;
}

.list__episode__item p:hover {
    color: #ff6500;
}

.film__info__detail__img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.film__info__detail__name h4 {
    color: #fff !important;
    margin-bottom: 6px !important;
}

.film__info__detail__title h5 {
    line-height: 1.75rems;
    color: #828282;
}

.btn-flow {
    background: linear-gradient(90deg,#252728,#3f4143) !important;
    margin-right: 10px;
    width: 140px !important;
    padding: 0 20px !important;
    line-height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}

.btn-share {
    width: 110px !important;
    padding: 0 20px !important;
    line-height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    background-color: #ff6500 !important;
    color: #fff;
}

.film__info__detail__content {
    margin-top: 10px;
}

.film__info__detail__content span {
    font-weight: 600;
}

.film__info__detail__content p {
    text-align: justify;
    color: #828282;
    overflow: hidden;
}

.property {
    width: 30%;
    font-weight: 700;
    padding-bottom: 3px;
    padding-top: 3px;
}

.value {
    width: 70%;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #828282;
}

.container-tap {
    display: flex;
    flex-wrap: wrap;
}

.container-tap__so {
    flex: 0 0 16.6667%;
    margin-top: 12px;
}

.container-tap__so a{
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    height: 50px;
    line-height: 50px;
    background: #2d2d2d;
    width: 100%;
    padding: 12px 60px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    
}

.container-tap__so a:hover {
    color: #ff6500;
}

.container-info {
    display: flex;
    margin-top: 20px;

}

.info-img {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
    margin-right: 16px;
}
.info-img img {
    width: 100%;
    border-radius: 5px;
    
}

.content-film{
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 25px;
}

.content-film p {
    text-align: justify;
    color: #828282;
    overflow: hidden;
    
}

.container-info h4 {
    color: #fff !important;
    margin-bottom: 6px !important;
}

.content-film h5 {
    line-height: 1.75rems;
    color: #828282;
}

.info-content__table{
    width: 100%;
}

.info-content__property {
    font-weight: 700;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 40%;
    font-size: 14px;
    width: 140px;
    display: block;
}

.info-content__value {
    width: 200px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #828282;
}
